<!--En esta scción se crea la seccion de inicio de sesión   atravez de un formualario que nos lo da django: AuthenticationForm -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    {% extends  '../base.html' %}

{% block content %}
    <h1>Signin</h1>

    <form action="{% url '../personalizacionSaco.html' %}" method="post">
        {% csrf_token %}

            {{ form_as.p}}

            
        <button>Signin</button>
    </form>
{% endblock %}
</body>
</html>

