<!--En esta scción se crea la seccion de inicio de sesión   atravez de un formualario que nos lo da django: AuthenticationForm -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    
     {% block content %}

     <h1>Signin</h1>

    <form action="#" method="post">
        {% csrf_token%}
        {{form.as_p}}
        
        <button>Ingresar</button>
    </form>
     {% endblock %}
</body>
</html>