<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalización de pedidos</title>
</head>
<body> 
    {% block conten %} 
    <h1>Personalización de saco</h1>

    <!-- Formulario para cargar el hoodie y las imágenes -->
    <form action="{% url 'hoodieDesign' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}    

        <!-- Mostramos el formulario para el hoodie -->
        {{ form.as_p }}

        <!-- Campo para cargar múltiples imágenes 
        <label for="pictures">Selecciona las imágenes para el estampado:</label>
        <input type="file" name="pictures" id="pictures" multiple>
        -->
        
        
        <button type="submit">Crear Saco y Cargar Imágenes</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% endblock %}
</body>
</html>
